body {
	background-color: #fa4f91 !important;
	color: white !important;
	font-family: "Lato", sans-serif;
}

.article {
	margin: 0 auto;
	width: 70%;
}

.border-pink {
	border: 1px solid #b13968;
}

.blog:hover {
	background-color: #b13968;
}